<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.funtrigger.ahmydroid"
      android:versionName="1.0.0.28" android:versionCode="29">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".Ahmydroid" android:screenOrientation="nosensor" android:launchMode="singleInstance">
            
        </activity>

    <service android:name="FallDetector"></service>
<activity android:name="Fallen" android:screenOrientation="nosensor" android:launchMode="singleInstance" android:excludeFromRecents="true"></activity>
<activity android:name="com.facebook.android.LoginPage"></activity>
<activity android:name="SetNotify" android:screenOrientation="unspecified" android:configChanges="orientation"></activity>
<service android:name="InfoDispatcher"></service>

<receiver android:name="BootCompletedReceiver">
<intent-filter>
<action android:name="android.intent.action.BOOT_COMPLETED" />
</intent-filter></receiver>

<activity android:name="Settings" android:configChanges="orientation"></activity>
<service android:name="TimeService"></service>
<activity android:name="TryFallen" android:screenOrientation="nosensor" 
		  android:launchMode="singleInstance"></activity>
<receiver android:name="SMSReceiver">
    <intent-filter>
	<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
	</intent-filter>
</receiver>

<!-- How用來分辨程式一開啟是要進入教學還是進入Ahmydoird主畫面 -->
<activity android:name="How">
<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
</activity>

<activity android:name="com.funtrigger.tuition.Welcome" android:launchMode="singleInstance"></activity>
<activity android:name="com.funtrigger.tuition.DropUI" android:launchMode="singleInstance"></activity>
<activity android:name="com.funtrigger.tuition.PickUp" android:launchMode="singleInstance"></activity>
<activity android:name="com.funtrigger.tuition.SendLocation"></activity>
<activity android:name="com.funtrigger.tuition.Keep3G"></activity>
<activity android:name="com.funtrigger.tuition.TurnOnLocation"></activity>
<activity android:name="com.funtrigger.tuition.SetSendData"></activity>
<activity android:name="com.funtrigger.tuition.End"></activity>
<activity android:name="com.funtrigger.tuition.InterrupSending"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />

<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>




<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
</manifest> 