<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.funtrigger.ahmydroid"
      android:versionCode="25" android:versionName="1.0.0.24">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".Ahmydroid" android:screenOrientation="nosensor" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <service android:name="FallDetector"></service>
<activity android:name="Fallen" android:screenOrientation="nosensor" android:launchMode="singleInstance"></activity>
<activity android:name="com.facebook.android.LoginPage"></activity>
<activity android:name="SetNotify" android:screenOrientation="unspecified" android:configChanges="orientation"></activity>
<service android:name="InfoDispatcher"></service>

<receiver android:name="BootCompletedReceiver">
<intent-filter>
<action android:name="android.intent.action.BOOT_COMPLETED" />
</intent-filter></receiver>

<activity android:name="Settings" android:configChanges="orientation"></activity>
<service android:name="TimeService"></service>
</application>
    <uses-sdk android:minSdkVersion="3" />

<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>


<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>


</manifest> 